<div id="message-<%= message.id %>" class="chat">
  <small>
    <%# <p class="text-left">
      <%= message.created_at.strftime("%b %e, %l:%M %p") %>
    <%# </p> %>
    @<strong><%= message.user.username %></strong>: <%= message.content %>
  </small>
</div>
