// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colours of RunMate
$hard-blue: #0036AB;
$light-blue: #476BC7;
$light-violet: #6891f2;
$pastel-blue: #9EBBE7;
$smoke-white:#FFFFFF;
$anti-flash-white: #F2F3F7;
