.notifications {
  margin-top: 70px;
  margin-bottom: 70px;

  .notifications-number {
    text-align: center;
    color: $light-blue;
    margin: 20px 20px;
  }
  .notifications-date {
    margin-left: 10px;
  }

}

.notification {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 5px;
  background-color:  white;

  .notification-icone {
    font-size: 30px;
    margin-right: 9px;
  }

  .notification-link {
    text-decoration: none;
  }

}

.notification-confirmed {
  .notification-icone {
    color: #06dfac;
  }

}

.notification-new {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #6891f2;
    border-radius: 100%;
    left: 332px;
    top: -5px;
  }
}


.notification-declined {
  .notification-icone {
    color: #de056e;
  }

}

.notification-pending {
  .notification-icone {
    color: #0aa4ec;
  }

  .notification-pending-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
