#map-button {
  width: 120px;
  padding: 10px;
  justify-content: space-around;
  border-radius: 25px;
  position: fixed;
  top: 82%;
  left: 35%;
  z-index: 3;
  color: $hard-blue;
  background: white;
  text-decoration: none;
}
