#map-button {
  width: 120px;
  padding: 10px;
  justify-content: space-around;
  border-radius: 25px;
  position: fixed;
  top: 82%;
  left: 35%;
  z-index: 3;
  color: $hard-blue;
  background: white;
  text-decoration: none;
}

.offcanvas {
z-index: 90;
background-color: $anti-flash-white;
height: 90vh;
}

.map-head {
  margin-bottom: 50px;
}

.mapboxgl-canvas-container {
  margin-top: 10px;
}
