#map-button {
  width: 120px;
  padding: 10px;
  justify-content: space-around;
  border-radius: 25px;
  position: fixed;
  top: 82%;
  left: 35%;
  z-index: 3;
  color: white;
  background: #0036AB;
  text-decoration: none;
  box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.3);

  p {
  color:white;
  }
}


.map-head {
  margin-bottom: 10px;
}

.mapboxgl-canvas-container {
  margin-top: 10px;
}

.offcanvas {
  z-index: 90;
  background-color: $anti-flash-white;
  // height: 83vh;
  transition: transform 0.6s ease-in-out;
  width: 100%;
}

.title-index {
  color: #476BC7;
  font-size: 30px;
  text-align: center;
  margin-bottom: 19px;
}
