.run-leader {
  display: flex;
  justify-content: space-between;
}

.run-leader img {
  border-radius: 50%;
  width: 50px;
  border: black;
  height: 100%;
}

.run-leader-info p {
  font-size: 12px;
}

.stars {

}

.run-image {
  border-radius: 20px;
  height: 20vh;
  background-size: cover;
}

.run-image-info {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: flex-end;
}

.run-image-info p {
  color:black;
  background-color: white;
  border-radius: 10px;
}



.run-specs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.join-button {
  font-size: 22px;
  font-weight: 600;
  background-color: $hard-blue;
  border: none;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 16px;
  text-decoration: none;
  transition: background 0.3s ease;
  text-align: center;
}

.attendants {
  margin-top: 25px;
}

.attendant {
  display:flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border: solid 1px;
  border-radius: 10px;
  padding: 5px;
}

.attendant img {
  border-radius: 50%;
  width: 50px;
  border: black;
  height: 100%;
}
