.show {
  .container {
    height: 180vh;
    position:relative;
  }
  // "bricolage container"

  .blue-title-show {
    font-size: 22px;
  }

  .chatroom-link {
    position:absolute;
    top: 10%;
    bottom: 0;
    left: 82%;
    right: 0;
    color: $light-blue;
    font-size: 40px;
  }

  .run-leader {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .run-leader img {
    border-radius: 50%;
    width: 50px;
    height: 100%;
  }

  .run-leader-info {
    margin-left: 12px;
  }

  .run-leader-info h4 {
    font-size: 20px;
    color: #2e2e2e;
    margin-bottom: 5px;
  }

  .stars {
    font-size: 8px;
    color: $yellow;
    margin: 0px;
  }

  .run-image {
    border-radius: 20px;
    height: 20vh;
    background-size: cover;
  }

  .run-image-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
    padding-left: 20px;
  }

  .run-image-info p {
    border: $smoke-white solid;
    background-color: $light-blue;
    color: $smoke-white;
    font-size: 14px;
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 10px;
  }

  .run-infos {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 8px #003cc124;
  }

  .run-infos {

    .address {
      color: $light-blue;
    }
  }



  .run-infos i {
    padding-right: 5px;
    font-size: 19px;
  }

  .run-description p {
    // font-style: italic;
    font-weight: 400;
    margin-top: 15px;
    text-align: left;
    font-size: 19px;
    color: $light-blue;
  }

  .run-date {
    display:flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .run-date p {
    margin-bottom: 0px;
    font-size: 20px;
    color: $light-blue;
  }

  .run-specs {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
    color: $smoke-white;
    text-align: center;
  }

  .violet-square {
    background-color: $smoke-white;
    border-radius: 20px;
    width: 32%;
    height: 100px;
    padding: 15px;
    border: none;
    box-shadow: 0 0 8px #0840bf33;
    // rgba(8 64 191 / 0.2);

  }

  .violet-square p {
    font-weight: bold;
    color: $light-blue;
  }


  .run-specs p {
    color: #6c6c76;
    margin-bottom: 10px;
  }

  .run-specs i {
    margin-right: 10px;
    font-size: 20px;
    color: #6c6c76;
  }

  .join-button {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 22px;
    font-weight: 600;
    background-color: $white;
    border: none;
    border-radius: 40px;
    color: $hard-blue;
    padding: 10px 35px;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  .attendants h3 {
    font-size: 20px;
    color: #6c6c76;
    padding-left: 14px;
    text-align: left;
  }

  .attendant p {
    margin: 0px;
  }

  .attendant {
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: #F6F7FB;
    box-shadow: 0 0 8px #0840bf33;
  }

  .attendant-info {
    margin-left: 5px;
  }


  .attendant img {
    border-radius: 50%;
    width: 50px;
    height: 100%;
  }

  .attendant p {
    font-size: 15px;
    margin-bottom: 5px;
    color: $light-blue;
    font-weight: bold;
  }


  .mapboxgl-canvas {
    border-radius: 10px;
  }

  .mapboxgl-map {
    margin-bottom: 20px;
  }

}
