.profile {

  background-color:$light-blue;
  color: $smoke-white;



  h1, h2, button, i, p, a {
    color: $smoke-white;
    text-align: center;
  }


  .img, .btn-link {
    display: block;
    margin: 0px auto 30px auto;
    width: 100px;
  }

  h2 {
    font-size: 15px;
  }

  .review {
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: $light-blue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
  }

  .reviews img {
    border-radius: 50%;
    width: 50px;
    border: black;
    height: 100%;
  }



}
