.show {
  .container {
    height: 140vh;
  }
  // "bricolage container"

  .run-leader {
    display: flex;
    justify-content: start;
  }

  .run-leader img {
    border-radius: 50%;
    width: 50px;
    border: black;
    height: 100%;
  }

  .run-leader-info {
    margin-left: 5px;
  }

  .run-leader-info h2 {
    font-size: 20px;
    color: $light-blue;
    margin-bottom: 5px;
  }

  .stars {
    font-size: 8px;
    color: $yellow;
    margin: 0px;
  }

  .run-image {
    border-radius: 20px;
    height: 20vh;
    background-size: cover;
  }

  .run-image-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
    padding-left: 20px;
  }

  .run-image-info p {
    border: $smoke-white solid;
    background-color: $light-blue;
    color: $smoke-white;
    font-size: 14px;
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 10px;
  }

  .run-infos {
    background-color: $light-blue;
    border-radius: 20px;
    padding: 30px;
  }

  .run-infos p, .run-infos a, .run-infos i {
    color: $smoke-white;
  }

  .run-infos i {
    padding-right: 10px;
    font-size: 20px;
  }

  .run-description p {
    font-style: italic;
    font-weight: 100;
    margin-top: 15px;
    text-align: justify;
  }

  .run-date {
  display:flex;
  justify-content: space-between;
  }

  .run-date p {
    margin-bottom: 0px;
  }

  .run-specs {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
    color: $smoke-white;
    text-align: center;
  }

  .violet-square {
    background-color: $light-blue;
    border-radius: 20px;
    width: 32%;
    height: 100px;
    padding: 15px;

  }

  .run-specs p {
    color: $smoke-white;
    margin-bottom: 10px;
  }

  .run-specs i {
    margin-right: 10px;
    font-size: 20px;
  }

  .join-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    font-size: 22px;
    font-weight: 600;
    background-color: $hard-blue;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 16px;
    text-decoration: none;
    transition: background 0.3s ease;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
  }

  .attendants h3 {
    font-size: 20px;
    color: $light-blue;
    margin-bottom: 20px;
    text-align: center;
  }

  .attendant p {
    margin: 0px;
  }

  .attendant {
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: $light-blue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .attendant-info {
    margin-left: 5px;
  }


  .attendant img {
    border-radius: 50%;
    width: 50px;
    border: black;
    height: 100%;
  }

  .attendant h4 {
    font-size: 15px;
    margin-bottom: 5px;
    color: $light-blue;
  }

  .mapboxgl-canvas {
    border-radius: 10px;
  }

  .mapboxgl-map {
    margin-bottom: 20px;
  }

}
