<div class="banner navbar fixed-top">
  <div class="container px-4 pt-2 d-flex align-items-center justify-content-start">
    <%= image_tag "logo.png", alt:"Runmate", class: "img"%>
    <%= link_to root_path do %>
      <h5>RunMate</h5>
    <% end %>
  </div>
</div>
