<div class="chatroom-card mb-3">
  <%= link_to "", chatroom_run_path(attendance.run), class:"chatroom-card-link" %>
  <%= cl_image_tag attendance.run.photo.key, class: "card-run-image"%>
  <div class="chatroom-card-info">
    <h5>Your <%= attendance.run.name %> Mates</h5>
    <p><%= attendance.run.messages.count %> Messages</p>
  </div>
</div>
