<div class="container my-4", style="padding-top: 60px">
  <%= link_to :back, class:"text-decoration-none ps-1" do %>
    <span class="btn-back fs-6"><i class="fa-solid fa-circle-arrow-left fs-6 btn-back-blue me-1"></i>BACK</span>
  <% end %>
  <h2 class="title-dashboard text-center mb-2">Chatrooms</h2>
  <div class="container p-3 mb-5">
    <% if @attendances.present? %>
      <% @attendances.each do |attendance| %>
          <%= render "chatroom_card", attendance: attendance %>
        <% end %>
      <% else %>
        <p>You haven't joined any run yet!</p>
      <% end %>
  </div>
</div>
