<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="bg-primary"> <%# correspond au wrapper %>
  <div class="container p-5 min-vh-100 d-flex flex-column justify-content-around">

    <h2>Don't Run alone anymore.</h2>

    <h2>Find your next RunMate !</h2>
  
    <%= link_to "JOIN THE NEXT RUN", runs_path, class:"btn-home"%>

  </div>
</div>
