<div class="wrapper"> <%# correspond au wrapper %>
  <%# <h1 class="logo-name">RunMate</h1> %>
  <%= image_tag "new_logo_white.png", alt:"Runmate", class: "logo-name"%>
  <div class="d-flex justify-content-center">
  </div>
  <div class="text-box d-flex flex-column align-items-center">
    <h2 class="home-title">Find your new mates</h2>
    <p class="home-text">Those who will help you run better,<br>smarter, faster.</p>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "JOIN THE NEXT RUN", runs_path, class:"btn-home"%>
  </div>
</div>
