<div class="container">
  <div class="notifications">
    <% if @notifications_for_attendances.count == 0 %>
      <h3 class="notifications-number">0 notifications</h3>
    <% else %>
      <h3 class="notifications-number"><%= pluralize(@current_user.unread_notifications_count, 'new notification')%></h3>
      <% @notifications_for_attendances.each do |notification| %>
        <span class="notifications-date"><%= notification.created_at.strftime("%I:%M %p")%></span>
        <%= render "notification_card", notification: notification %>
      <% end %>
    <% end %>
  </div>
</div>
