
<div class="profile mt-5">
  <div class="container">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-12 col-xl-4">

            <div class="card border-0">
              <div class="card-body text-center">
                <div class="mt-3 mb-4">
                  <img src="https://www.whitehouse.gov/wp-content/uploads/2021/01/44_barack_obama.jpg"
                    class="rounded-circle img-fluid" style="width: 100px;" />
                </div>
                <h4 class="mb-2"><%= user.first_name %> <%= user.last_name %></h4>
                <p class="mb-4">Runner since 2023</p>
                <div class="mb-4 pb-2">
                  <button type="button" class="btn btn-outline-primary btn-floating">
                    <i class="fab fa-facebook-f fa-lg"></i>
                  </button>
                  <button type="button" class="btn btn-outline-primary btn-floating">
                    <i class="fab fa-twitter fa-lg"></i>
                  </button>
                  <button type="button" class="btn btn-outline-primary btn-floating">
                    <i class="fab fa-skype fa-lg"></i>
                  </button>
                </div>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum accusantium laborum, officia repellat culpa exercitationem nisi, sit laudantium alias blanditiis minus eius esse hic atque in veritatis, quam quasi animi. Porro, labore nobis quisquam harum libero suscipit cupiditate doloribus quo.</p>
                <div class="d-flex justify-content-between text-center mt-5 mb-2">
                  <div>
                    <p class="mb-2 h5">15</p>
                    <p class="mb-0">Runs joined</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-2 h5">10</p>
                    <p class="mb-0">Runs created</p>
                  </div>
                  <div>
                    <p class="mb-2 h5">4</p>
                    <p class="mb-0">Average Rating</p>
                  </div>
                </div>
                <div>
                  <% if can_edit %>
                    <%= link_to "Edit Profile", edit_user_path(user), class:"btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>
