<div class="profile">
  <div class="container px-4 py-5">
    <img src="https://www.whitehouse.gov/wp-content/uploads/2021/01/44_barack_obama.jpg" class="img rounded-circle img-fluid" />
    <h1 class="mb-2"><%= user.first_name %> <%= user.last_name %></h1>
    <h2 class="mb-2">Runner since 2023</h2>
    <div class="mb-4 text-center">
      <button type="button" class="btn btn-outline-primary btn-floating">
        <i class="fab fa-facebook-f fa-lg"></i>
      </button>
      <button type="button" class="btn btn-outline-primary btn-floating">
        <i class="fab fa-twitter fa-lg"></i>
      </button>
      <button type="button" class="btn btn-outline-primary btn-floating">
        <i class="fab fa-skype fa-lg"></i>
      </button>
    </div>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum accusantium laborum, officia repellat culpa exercitationem nisi, sit laudantium alias blanditiis minus eius esse hic atque in veritatis, quam quasi animi. Porro, labore nobis quisquam harum libero suscipit cupiditate doloribus quo.</p>
    <div class="d-flex justify-content-between text-center mt-5 mb-2">
      <div>
        <p class="mb-2 h5">15</p>
        <p class="mb-0">Runs joined</p>
      </div>
      <div class="px-3">
        <p class="mb-2 h5">10</p>
        <p class="mb-0">Runs created</p>
      </div>
      <div>
        <p class="mb-2 h5">4</p>
        <p class="mb-0">Average Rating</p>
      </div>
    </div>
    <div>
      <% if can_edit %>
        <%= link_to "Edit Profile", edit_user_path(user), class:"btn btn-primary" %>
      <% end %>
  </div>
</div>
