.banner {
  background-color: white;
  height: 65px;
  z-index: 90;

  img {
    height: 30px;
    opacity: 0.8;
    // background-color: $anti-flash-white;
    margin-right: 0.5em;
  }

  h5 {
    font-weight: 700;
    margin: 0;
    color: #476BC7;
  }

  a {
    text-align: none;
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    color:#0E0000;
  }

  .notification-link {
    position:relative;

    .notification-bell {
      font-size: 30px;
      color:#476BC7;
      position:absolute;
      top: -9px;
      left: -16px;
    }

    .notification-bell-shake {
      font-size: 30px;
      color:#476BC7;
      position:absolute;
      top: -9px;
      left: -16px;
      animation-duration: 2s;
      animation-name: shake;
    }

    @keyframes shake {
      from {
        transform: rotate(0);
      }
      5% {
        transform: rotate(-20deg);
      }
      10% {
        transform: rotate(20deg);
      }
      15% {
        transform: rotate(-20deg);
      }
      20% {
        transform: rotate(20deg);
      }
      25% {
        transform: rotate(-20deg);
      }
      30% {
        transform: rotate(20deg);
      }
      35% {
        transform: rotate(-20deg);
      }
      40% {
        transform: rotate(20deg);
      }
      45% {
        transform: rotate(-20deg);
      }
      50% {
        transform: rotate(20deg);
      }
      55% {
        transform: rotate(-20deg);
      }
      60% {
        transform: rotate(20deg);
      }
      65% {
        transform: rotate(-20deg);
      }
      70% {
        transform: rotate(20deg);
      }
      75% {
        transform: rotate(-20deg);
      }
      80% {
        transform: rotate(20deg);
      }
      85% {
        transform: rotate(-20deg);
      }
      90% {
        transform: rotate(20deg);
      }
      95% {
        transform: rotate(-20deg);
      }
      to {
        transform: rotate(0);
      }
    }

    .pastille {
      height: 25px;
      width: 25px;
      background-color: red;
      border: red;
      border-radius: 50%;
      text-align: center;
      position: relative;
      left: -12px;
      bottom: -7px;
      color: white;
      position:absolute;
      top: 0;
      left: 0;
    }

  }

}
