.banner {
  background-color: $anti-flash-white;
  height: 12vh;

  img {
    width: 35px;
    height: 50px;
    background-color: $anti-flash-white;
  }

  h1 {
    font-weight: 700;
    font-size: 36px;
  }
}
