.banner {
  background-color: $anti-flash-white;
  height: 60px;

  img {
    width: 20px;
    height: 30px;
    background-color: $anti-flash-white;
    margin-right: 0.5em;
  }

  h5 {
    font-weight: 700;
    margin: 0;
    color: #476BC7;
  }

  a {
    text-align: none;
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    color:#0E0000;
  }
}
