.btn-home {
  font-size: 22px;
  font-weight: 600;
  background-color: $hard-blue;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  width: 75%;
  padding: 10px;
  text-decoration: none;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  bottom: 90px;
  box-shadow: 0 0px 100px 0 rgba(208, 174, 174, 0.7);
    // 0 0px 100px 0 rgb(234 212 212)
}

.btn-back-blue {
  color: #9EBBE7;
}

.btn-back-white {
  color: white;
}

.btn-delete {
  color: #0036AB;
}
