.btn-home {
  font-size: 22px;
  font-weight: 600;
  background-color: #A6B1EC;
  border: none;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 16px;
  text-decoration: none;
  transition: background 0.3s ease;
  text-align: center;
}
