.btn-home {
  font-size: 22px;
  font-weight: 600;
  background-color: #476BC7;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  width: 75%;
  padding: 10px;
  text-decoration: none;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  bottom: 30px;
}

.btn-back-blue {
  color: #9EBBE7;
}

.btn-back-white {
  color: white;
}

.btn-delete {
  color: #0036AB;
}
