.card-run {
  height: 41vh;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;  // check

  .card-run__image {
    width: 100%;
    height: 28vh;
    object-fit: cover;
    // background-position: right 10% bottom 36%;
  }

  .card-run__content {
    color: $light-blue;
    margin-top: 10px;
  }

  h4 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 20px;
  }

  p {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .category {
    border: 1px solid;
    border-radius: 10px;
    padding: 1px 4px;
    font-size: 14px;
    }

  .calendar {
    margin-bottom: 32px;
  }

  i {
    margin-right: 5px;
  }

  a {
    color: $light-blue;
  }

  .card-run__content-left {
    width: 50%;
    padding: 0px 13px;
  }

  .card-run__content-right {
    width: 50%;
    padding: 0px 13px;
  }

}
