.card-run {
  // height: 41vh;
  position: relative;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;  // check

  .card-run-image {
    width: 100%;
    height: 58vw;
    object-fit: cover;
    // background-position: right 10% bottom 36%;
  }

  .card-run-picto {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0px;
    background: white;
    border-radius: 50%;
    height: 50px;
    border: solid;
    padding: 3px;
  }

  .card-run-content {
    color: $light-blue;
  }

  .card-run-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card-run-title {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    // margin-bottom: 5px;
    font-size: 20px;
    padding-right: 10px;

    a {
      text-decoration: none;
    }
  }

  p {
    font-size: 14px;
    // margin-bottom: 12px;
    padding-top: 4px;
  }

  .category {
    border: 1px solid;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 14px;
    }

  i {
    margin-right: 5px;
    font-size: 16px;
  }

  a {
    color: $light-blue;
    padding-bottom: 5px;
  }

  .card-run-content-left {
    width: 50%;
    padding: 0px 13px;
  }

  .card-run-content-right {
    width: 50%;
    padding: 0px 13px;
  }

}
