.body-attendances {
  background-color: #F2F3F7;
  padding: 10px 0 580px 0;
}

.card-attendance-request {
  position: relative;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;

  .card-run-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
  }

  .action {
    z-index: 100;
  }

  img {
    border-radius: 50%;
    width: 60px;
    border: black;
    object-fit: cover;
    height: 60px;
  }

}

.card-attendance-title {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 20px;
  color: #476BC7;
}
