.body-attendances {
  background-color: $pastel-blue;
  padding: 10px 0 400px 0;
}

.card-attendance-request {
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.card-attendance-title {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 20px;
  color: #476BC7;
}
