.chatroom-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.chatroom-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.chatroom-card h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #476BC7;
}

.chatroom-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.chatroom-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 1em;
}

.chatroom-card-link {
  padding-top: 1em;
  font-size: 12px;
}
