.map-wrapper {
  position: relative;
  width: 100%;
  height: 90%;
}

.mapboxgl-map {
  width: 100%;
  height: 75vh;
}

.mapboxgl-popup {
  max-width: 240px;
  transform: translate(-50%, -100%) translate(228px, 320px) !important;
  border-radius: 20px !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 5px 5px 5px !important;
  width: 120px;
  border-radius: 10px;

  .run-info {
    padding: 0px;
  }

  img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }

}
