.map-wrapper {
  position: relative;
  width: 100%;
  height: 90%;
}

.mapboxgl-map {
  width: 100%;
  height: 75vh;
}

.mapboxgl-popup {
  max-width: 240px;
  border-radius: 20px !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 5px 5px 5px !important;
  width: 120px;
  border-radius: 10px !important;
  text-decoration: none;

  .run-info {
    padding: 0px;
  }

  .category {
    position: absolute;
    top: 43%;
    left: 7%;
    right: 0px;
    background: white;
    border-radius: 5px;
    height: 25px;
    width: 70px;
    border: solid;
    padding: 3px;

  }

  img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    border-radius: 5px;
  }

}
