.map-wrapper {
  position: relative;
  width: 100%;
  height: 90%;
}

.mapboxgl-map {
  width: 100%;
  height: 75vh;
}

.mapboxgl-popup {
  max-width: 240px;
  border-radius: 20px !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 5px 5px 5px !important;
  width: 120px;
  border-radius: 10px !important;
  text-decoration: none;
  width: 235px;
  height: 380px;


}

.card-run-map {
  position: relative;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;

  .card-run-map-image {
    width: 100%;
    height: 45vw;
    object-fit: cover;
  }

  .card-run-map-picto {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0px;
    background: white;
    border-radius: 50%;
    height: 30px;
    border: solid;
    padding: 3px;
  }


  .card-run-map-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card-run-map-content {
    color: #2C2C3F;


    .card-run-map-title {
      font-family: 'Source Sans Pro';
      font-weight: 600;
      font-size: 20px;
      padding-right: 10px;
      color: $light-blue;
      margin-bottom: 10px;
    }

    p {
      font-size: 17px;
      color: #6c6c76;
      margin-bottom: 3px;
    }

    .category {
      border: 1px solid;
      border-radius: 10px;
      padding: 2px 5px;
      font-size: 14px;
      color: $light-blue;
    }

    i {
      margin-right: 5px;
      font-size: 16px;
    }

  }

}
