#offcanvasRight {
  background-color: $anti-flash-white;
}

.offcanvas-body {
  flex-direction: column;
}

#offcanvasMenu {
  a {
    margin-bottom: 5px;
    font-size: 20px;
    text-decoration: none;
    color: $hard-blue;
  }
}

.offcanvas-header {
  h5 {
    font-size: 28px;
  }
}


#navbar-list {
  list-style: none;
  overflow: hidden;
  background-color: $anti-flash-white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding: 10px 0;
  margin-bottom: 0;

  i {
    color: $light-blue;
  }
 }


#navbar-list-item {
  display: inline;
  float: none;
  margin: 0 35px;
 }

 #navbar-list-item a {
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
 }
