.card-run-map {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100px;
  height: 50px;
}

.card-run-map > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-run-map-infos p {
  font-size: 4px;
  opacity: .7;
  color: black;
  margin: 0;
}

.title-link-map {
  color: black;
  font-family: $headers-font;
  font-size: 12px;
  text-decoration: none;
  // margin-bottom: 5px;
}
