.searchinput {
  height: 36px;
  padding: 3px 26px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;

}

.btn-search-index {
  color: #0036AB;
  background: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
}
