<div class="card-run-map">
  <%= image_tag("https://images.unsplash.com/photo-1483721310020-03333e577078?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3028&q=80", alt: "sport", height: 50, width: 100, crop: :fill) %>
  <div class="card-run-map-infos">
    <div>
      <%= link_to run.name, run_path(run), class: "title-link-map" %>
      <p> <%= run.category %> </p>
      <p> <%= run.date %></p>
    </div>
  </div>
</div>
