<div class="d-flex justify-content-center">
  <%= form_with url: runs_path, method: :get , class: "d-flex py-5 col-8" do |f| %>
    <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"]%>">

      <%= f.text_field :address, { data: { address_autocomplete_target: "address" }, class:"d-none"}
      %>
    </div>



    <%= submit_tag "Find a run", class:"btn-search" %>
  <% end %>
</div>
