
<div class="container p-3 mb-5">

    <%# Search bar Partial %>
    <%= render "search_bar", run: @run %>
    <%# **** %>

  <% @runs.each do |run| %>
    <%= render "card_run", run: run %>
  <% end %>
</div>
