
<div class="container p-3 mb-5">

    <%# Search bar Partial %>
    <%# TO DO %>
    <%# **** %>
  <a id="map-button" href="<%=map_path%>" class="btn-sign-up d-flex align-items-center">
    <p class="m-0">Show map</p>
    <i class="fa-sharp fa-solid fa-map-location-dot m-1"></i>
  </a>
  <div class="cards">
    <% @runs.each do |run| %>
      <%= render "card_run", run: run %>
    <% end %>
  </div>
</div>
