<div class="container m-4">
  <%= simple_form_for [@run, @attendance] do |f| %>
    <%= f.input :content, placeholder: "Your message...", label: "Send a quick message to the organizer !" %>
    <%= f.submit class: "btn btn-outline-primary" %>
  <% end %>
  <%= render "shared/navbar" %>
</div>
